.features {
  width: 100%;
}
.features__container {
  @include margin-auto;
  max-width: $desktop-width;
  padding-top: 112px;
  padding-right: 19.5%;
  padding-bottom: 55px;
  padding-left: 19.5%;

  @include tablet {
    @include padding-tablet;
    padding-top: 54px;
    padding-bottom: 27px;
  }

  @include mobile {
    @include padding-mobile;
    padding-top: 37px;
    padding-bottom: 30px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  position: relative;
    width: 47%;
    min-height: 299px;
    padding-top: 40px;
    padding-right: 42px;
    padding-bottom: 49px;
    padding-left: 44px;
    margin: 0 2.78% 30px 0;
    background-color: $white;
    border: 1px solid $gray-border-secondary;
    border-left: none;
    box-shadow: -3px 0 0 0 $primary-blue;
}

.features__item:nth-child(2n) {
  margin-right: 0;
}

.features__item svg{
  margin-bottom: 23px;
}

.features__heading {
  @include style-reset;
  margin-bottom: 15px;
  font-family: $font-family-primary;
  font-weight: $regular;
  font-size: 24px;
  line-height: 33.75px;
  color: $primary-blue;
}

.features__text {
  @include style-reset;
  font-family: $font-family-secondary;
  font-size: $font-size;
  font-weight: $regular;
  line-height: 22px;
  text-align: left;
  color: $secondary-dark;
}
