.feedback {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 98px;
  background-color: $primary-blue;
}

.feedback__container {
  position: relative;
  width: 60.9%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  padding-left: 31vw;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;

  @media (max-width: 1750px) {
    padding-left: 28vw;
  }

  @media (max-width: 1250px) {
    padding-left: 14vw;
  }

  @include tablet {
    width: 77.3%;
    padding-left: 0;
  }

  @include mobile {
    width: 90.3%;
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -152px;
    right: 36.45vw;
    width: 670px;
    height: 641px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.feedback img {
  position: absolute;
  width: 26.7vw;
  min-width: 400px;
  top: 3.6vw;
  left: -27px;
  z-index: -1;

  @media (max-width: 1300px) {
    left: -280px;
  }

  @include tablet {
    display: none;
  }
}

.feedback__heading {
  @include style-reset;
  @include heading;
  margin-bottom: 9px;

  @include tablet {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 16px;
  }

  @include mobile {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 13px;
  }
}

.feedback__text {
  @include style-reset;
  font-family: $font-family-secondary;
  color: $white;
  margin-left: 5px;
  margin-bottom: 51px;

  @include tablet {
    margin-bottom: 54px;
  }

  @include mobile {
    margin-left: 0;
    margin-bottom: 26px;
  }
}

.feedback__form-button {
  display: block;
  width: 270px;
  height: 45px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid $white;
  border-radius: 5px;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 5%;

  @include tablet {
    width: 280px;
    height: 46.65px;
  }

  @include mobile {
    width: 290px;
  }
}
