.form {
  width: 100%;
  min-width: 574px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  z-index: 1;
  justify-content: space-between;

  @include tablet {
    min-width: auto;
  }

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
  }
}

.form input {
  width: 270px;
  background-color: $color-white-01;
  border: none;
  border-radius: 0;
  padding: 14px 16px 18px;
  margin-bottom: 40px;
  color: $white;

  @include tablet {
    width: 280px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 19px;
    margin-bottom: 42px;
  }

  @include mobile {
    width: 290px;
    margin-bottom: 31px;
  }
}

.form input:hover,
.form textarea:hover,
.form input:focus,
.form textarea:focus {
  @include animation;
  background-color: $color-white-03;
}

.form input:active,
.form textarea:active {
  @include animation;
  background-color: $color-white-02;
}

.form input::placeholder {
  font-family: $font-family-secondary;
  color: $white;
}

.form textarea {
  width: 100%;
  height: 154px;
  color: $white;
  background-color: $color-white-01;
  border: none;
  resize: none;
  border-radius: 0;
  padding: 14px 16px;
  margin-top: 0;
  margin-bottom: 43px;

  @include tablet {
    height: 160px;
    margin-bottom: 44px;
  }

  @include mobile {
    height: 104px;
    margin-bottom: 30px;
  }
}

.form textarea::placeholder {
  font-family: $font-family-secondary;
  color: $white;
}

// вщзможно лучше убрать класс с лейбла и завернуть все в div
.form__checkbox {
  width: 46%;
  display: flex;
  padding-top: 8px;

  @include mobile {
    width: 100%;
  }
}

.form__checkbox input {
  display: block;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
  margin-top: 1px;
  margin-right: 16px;
  margin-bottom: 0;
}

.form__checkbox input:checked {
  background-image: url("../img/icon-checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox span {
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 16px;
  color: $color-white-08;
}
