.lead {
  margin-top: -20px;
  background-image: url("..img/bg-lead-desktop@1x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-dark;
}
