.main {
  display: flex;
  flex-direction: column;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-features-desktop.svg");
  background-position: -296px -29px;
  background-repeat: no-repeat;
  padding-top: 112px;
  padding-bottom: 101px;

  @include tablet {
    background-image: url("../img/bg-features-tablet.svg");
    background-position: 211px 90px;
    padding-top: 54px;
    padding-bottom: 80px;
  }

  @include mobile {
    background-position: -120px 652px;
    padding-top: 37px;
    padding-bottom: 65px;
  }
}
