html {
  height: 100%;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  @include style-reset;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: repeat(auto-fit, minmax(320px, 100%));
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family-primary;
  color: $primary-dark;
}
