// Widths
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1920px;
$retina-2x: 2dpx;
$padding-mobile: 15px;
$padding-tablet: 25px;

// Colors
$white: #FFFFFF;
$primary-blue: #00B2FF;
$primary-dark: #1B2D37;
$secondary-dark: #666666;
$gray-icon: #CDCDCD;
$primary-logo-dark: #203C42;
$secondary-logo-dark: #788891;

// fonts
$font-family-primary: "Roboto Condensed", "Arial", sans-serif;
$font-family-secondary: "PT Mono", "Courier", monospace;
$font-size: 16px;
$line-height: 21.5px;
$regular: 400;
$bold: 700;
